.IntroBlock {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    div {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 85%;
        h1 {
            font-size: 1.25rem;
            text-align: center;
        }
    }
    &::before, &::after {
        content: '';
        height: 1px;
        width: 50%;
        position: absolute;
        bottom: 50%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
}

.larger {
    font-size: 5rem;
}

.smaller {
    font-size: 0.85rem;
}