@font-face {
    font-family: Monaco;
    src: url('./monaco.ttf');
}

.App {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black linear-gradient(-45deg, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.1));
    color: white;
    display: flex;
    font-family: Monaco;
    user-select: none;
}

pre {
    font-family: Monaco;
}

a {
    color: white;
}